@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;500;600;700&display=swap');


body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left > h1{
    font-size: 33px;
    font-weight: 700;
    line-height: 54.48px;
    color: #2DFF9D;
}

.left > img{
    width: 400px;
}
.right{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right .form-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right .form-div > h3{
    color: #2DFF9D;
    font-size: 40px;
    font-weight: 700;
    line-height: 54.48px;
}

.right .form-div .input-box{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 10px 0;
        padding: 5px 10px;
}

.right .form-div .input-box > input{
    width: 50%;
    border: none;
    background-color: #E2E2E2;
    padding: 20px 15px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    color: black;
}

.right .form-div .input-box > input::placeholder{
    font-size: 14px;
    color: #9D9B9B;
    font-weight: 400;
    line-height: 21.79px;
}
.right .form-div > button{
    cursor: pointer;
    padding: 15px 50px;
    margin: 30px 0;
    border-radius: 15px;
    border: none;
    background-color: #2DFF9D;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}


.right .form-div > button:hover{
    background-color: #31FF6A;
    transition: 2s;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #E2E2E2 inset;
}

.right .form-div .input-box > input:focus, input::selection{
    outline: 2px solid #31FF6A;
}


@media (max-width: 890px) {
    body{
        overflow-y: auto;
        overflow-x: auto;
    }
    .main{
        width: 100vw;
        height: 100vh;
        display: block;
        margin: 0 auto;
    }
    
    .left{
        width: 100%;
    }

    .left img{
        width: 250px;
    }
    .right{
        width: 100%;
    }
    
}